<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../main.css">
</head>
<nav>
    <%-include("../views/partials/nav.ejs")%>
</nav>
<body>
<div class="to-do-list-container">
                <!-- <p>Welcome  userDetail[0].firstName !</p> -->
                    <div class="to-do-list-innercontainer">
                        <ul>
                            <h1>To Do List</h1>
                            <% for(let i=0; i<todoLists.length; i++){ %>
                            <div class="to-do-list-items">
                                <li data-task-id="<%= todoLists[i].id %>">
                                    <div class="to-do-list-item">
                                        <a href="/todolist/<%=todoLists[i].id %>"><%=todoLists[i].task %></a>
                                        <a href="/todolist/<%=todoLists[i].id%>/edit"><button>Update Task</button></a>
                                        <form style="display:inline" action="/todolist/<%=todoLists[i].id%>?_method=DELETE" method="POST">
                                            <input type="submit" value="Delete Task"></form>
                                        <form style="display:inline" action="/todolist/<%=todoLists[i].completed%>?_method=PUT" method="POST"> 
                                            <input type="checkbox" disabled name="completed"
                                            <% if(todoLists[i].completed){%>checked<%}%>/></form>
                                    </div>
                                
                                </li>
                            </div>
                            <br/>
                            <%}%>
                        </ul>
                        <a href="todolist/new"><button id="newtaskbutton">Add new task</button></a>
                    </div> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
<%-include("../views/partials/footer.ejs")%>
</html>